* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

header img {
    height: 70px;
}

header {
    background-color: rgb(209, 146, 157);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
}

header a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

main ,
header {
    max-width: 850px;
    margin: 0 auto;
}

.art-house {
    background-color: wheat;
    border-bottom: 1px solid black;
    padding: 25px 0 30px 0;
}

.art-house h1 {
    margin-bottom: 50px;
}

.art-house h3 {
    margin-bottom: 20px;
}

.art-house img {
    width: 35%;
    float: right;
}

.bad-art{
    border-bottom: 1px solid black;
    padding: 25px 0 30px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.bad-art h3 {
    order: -1;
    flex: 1 0 100%;
    padding-bottom: 25px;
}

.bad-art nav {
    flex: 1;
    border: 1px solid rgb(216, 214, 126);
    border-radius: 15px;
    justify-content: space-around;
}

.bad-art nav.left {
    margin-right: 15px;
}

.bad-art ul {
    padding: 20px;
    list-style: none;
}

.bad-art ul li {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.bad-art a {
    color: black;
    text-decoration: none;
}

.stock-art img {
    width: 15%;
    border-radius: 40%;
}