body {
    margin: 0;
}

.container {
    position: relative;
    min-height: 100vh;
}

.square {
    color: white;
    height: 100px;
    width: 100px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.square span {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* rotate(-45deg) translate(0, 0)*/

/* header {
    background-color: pink;
    top: 0;
    position: sticky;
    z-index: 1;
}

nav {
    height: 70px;
}

div {
    gap: 20px;
    padding: 20px;
    display: flex;
}


section {
    background-color: red;
    width: 400px;
    flex: 1 0 0;
}

.yellow {
    height: 300px;
    background-color: yellow;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
}

button {
    background-color: white;
    border-radius: 20px;
    border: 2px solid red;
    padding: 10px 30px;

    position: absolute;
    left: 0;
}

@media screen and (min-width:680px) {
    header {
        position: initial;
    }
} */